{% if page.layout == "post" or page.layout == "explainer" %}

{% if page.share-img %}{% assign page_image = page.share-img %}{% elsif page.thumbnail %}{% assign page_image = page.thumbnail %}{% elsif page.cover-img %}{% assign page_image = page.cover-img %}{% else %}{% assign page_image = site.avatar %}{% endif %}

{% if page.citations %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{% if page.layout == 'explainer' %}TechArticle{% else %}BlogPosting{% endif %}",
  "@id": "{{ page.url | absolute_url }}#article",
  "headline": "{{ page.title | escape }}",
  "image": "{{ page_image | absolute_url }}",
  "author": { "@id": "{{ site.url }}#author" },
  "publisher": { "@id": "{{ site.url }}#organization" },
  "citation": [
    {% for cite in page.citations %}
    {
      "@type": "{% if cite.type %}{{ cite.type }}{% else %}WebPage{% endif %}",
      "name": "{{ cite.name | escape }}",
      "url": "{{ cite.url }}"{% if cite.author %},
      "author": {
        "@type": "{% if cite.author-type %}{{ cite.author-type }}{% else %}Organization{% endif %}",
        "name": "{{ cite.author | escape }}"
      }{% endif %}{% if cite.date %},
      "datePublished": "{{ cite.date }}"{% endif %}
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>
{% endif %}

{% if page.key-takeaways %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{% if page.layout == 'explainer' %}TechArticle{% else %}BlogPosting{% endif %}",
  "@id": "{{ page.url | absolute_url }}#article",
  "headline": "{{ page.title | escape }}",
  "image": "{{ page_image | absolute_url }}",
  "author": { "@id": "{{ site.url }}#author" },
  "publisher": { "@id": "{{ site.url }}#organization" },
  "abstract": {{ page.key-takeaways | join: ' ' | jsonify }},
  "about": {
    "@type": "Thing",
    "name": "{{ page.title | escape }}",
    "description": {% if page.description %}{{ page.description | jsonify }}{% else %}{{ page.subtitle | jsonify }}{% endif %}
  }
}
</script>
{% endif %}

{% if page.related-concepts %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{% if page.layout == 'explainer' %}TechArticle{% else %}BlogPosting{% endif %}",
  "@id": "{{ page.url | absolute_url }}#article",
  "headline": "{{ page.title | escape }}",
  "image": "{{ page_image | absolute_url }}",
  "author": { "@id": "{{ site.url }}#author" },
  "publisher": { "@id": "{{ site.url }}#organization" },
  "mentions": [
    {% for concept in page.related-concepts %}
    {
      "@type": "Thing",
      "name": {{ concept.name | jsonify }}{% if concept.url %},
      "sameAs": "{{ concept.url }}"{% endif %}{% if concept.description %},
      "description": {{ concept.description | jsonify }}{% endif %}
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>
{% endif %}

{% if page.review-process or page.fact-checked %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{% if page.layout == 'explainer' %}TechArticle{% else %}BlogPosting{% endif %}",
  "@id": "{{ page.url | absolute_url }}#article",
  "headline": "{{ page.title | escape }}",
  "image": "{{ page_image | absolute_url }}",
  "author": { "@id": "{{ site.url }}#author" },
  "publisher": { "@id": "{{ site.url }}#organization" },
  {% if page.fact-checked %}
  "review": {
    "@type": "Review",
    "reviewAspect": "accuracy",
    "reviewBody": "Content has been fact-checked and verified."
  },
  {% endif %}
  "potentialAction": {
    "@type": "ReadAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "{{ page.url | absolute_url }}"
    }
  }
}
</script>
{% endif %}

{% if page.expertise-areas %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{% if page.layout == 'explainer' %}TechArticle{% else %}BlogPosting{% endif %}",
  "@id": "{{ page.url | absolute_url }}#article",
  "headline": "{{ page.title | escape }}",
  "image": "{{ page_image | absolute_url }}",
  "publisher": { "@id": "{{ site.url }}#organization" },
  "author": {
    "@type": "Person",
    "@id": "{{ site.url }}#author",
    "name": "{{ site.author }}",
    "knowsAbout": [{% for area in page.expertise-areas %}"{{ area | escape }}"{% unless forloop.last %}, {% endunless %}{% endfor %}]
  }
}
</script>
{% endif %}

{% endif %}
