<div class="support-tools-btn">
  <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="ajit5ingh" data-color="#FFDD00" data-emoji="☕" data-font="Cookie" data-text="Support this tool" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff"></script>
</div>

<style>
.support-tools-btn {
  text-align: center;
  margin: 16px 0 0 0;
}

.support-tools-btn .bmc-btn-container {
  display: inline-flex !important;
}

.support-tools-btn .bmc-btn {
  width: 100% !important;
  max-width: 200px;
  justify-content: center;
}

@media (max-width: 1199px) {
  .support-tools-btn {
    display: none;
  }
}
</style>
