.header-section .intro-header .container-md {
  max-width: 780px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-section .intro-header .row {
  margin: 0;
}

.header-section .intro-header .col-xl-8,
.header-section .intro-header .col-lg-10 {
  max-width: 100%;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  flex: none;
}

.post-page-wrapper {
  max-width: 780px;
  margin: 0 auto;
  padding: 20px 15px 40px;
}

.post-main-content {
  width: 100%;
}

.content-block,
.footer-block {
  margin: 40px 0;
  padding: 20px 0;
  text-align: center;
}

.content-block ins,
.footer-block ins {
  min-height: 100px;
}

.feed-block {
  margin: 20px 0;
  padding: 15px 0;
  text-align: center;
}

.feed-block ins {
  min-height: 100px;
}

@media (max-width: 768px) {
  .post-page-wrapper {
    padding: 15px 12px 30px;
  }

  .content-block,
  .footer-block {
    margin: 32px 0;
    padding: 16px 0;
  }

  .feed-block {
    margin: 16px 0;
    padding: 12px 0;
  }
}
