---
common-css:
  - "/assets/vendor/bootstrap-4.4.1.min.css"
  - "/assets/css/main.css"
deferred-css:
  - "/assets/css/syntax-highlighting.css"
  - "/assets/css/post-ads.css"
  - "/assets/css/bootstrap-social.css"
  - "/assets/css/rss-banner.css"
  - "/assets/css/new-post-alert.css"
  - "/assets/css/explainer-ads.css"
  - "/assets/css/video-grid.css"
deferred-ext-css:
  - "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
common-js:
  - "/assets/vendor/jquery-3.4.1.min.js"
  - "/assets/vendor/popper-1.16.0.min.js"
  - "/assets/vendor/bootstrap-4.4.1.min.js"
  - "/assets/js/main.js"
  - "/assets/js/scroll-tracking.js"
  - "/assets/js/ad-blocker-detect.js"
---

<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: 'en' }}">
  {% include head.html %}

  <body{% if layout.body-class %} class="{{ layout.body-class }}"{% endif %}>

    {% include gtm_body.html %}
  
    {% include nav.html %}

    {{ content }}

    {% unless page["hide-explore-posts"] or layout["hide-explore-posts"] %}
    {% include explore-posts.html %}
    {% endunless %}

    {% include footer.html %}
  
    {% include footer-scripts.html %}
  
  </body>
</html>
